.aside__link {
    width: 167px;
    display: flex;
    align-items: center;
    gap: 11px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #82879F;
    text-decoration: none;
    transition: opacity 0.2s linear;
}

.aside__link:hover {
    opacity: 0.8;
}
