.auth-window__switch {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #82879F;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s linear;
}

.auth-window__switch:hover {
    color: #4f5261;
}